@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors*/
  --clr-brightBlue: hsl(220, 98%, 61%);
  --clr-checkStart: hsl(192, 100%, 67%);
  --clr-checkEnd: hsl(280, 87%, 65%);

  /* Colors for Light Theme */
  --clr-lt-white: hsl(0, 0%, 100%);
  --clr-lt-lightGray: hsl(0, 0%, 98%);
  --clr-lt-veryLightGrayishBlue: hsl(236, 33%, 92%);
  --clr-lt-lightGrayishBlue: hsl(233, 11%, 84%);
  --clr-lt-darkGrayishBlue: hsl(236, 9%, 61%);
  --clr-lt-veryDarkGrayishBlue: hsl(235, 19%, 35%);

  /* Colors for Dark Theme */
  --clr-dt-veryDarkBlue: hsl(235, 21%, 11%);
  --clr-dt-veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --clr-dt-lightGrayishBlue: hsl(234, 39%, 85%);
  --clr-dt-lightGrayishBlue-hover: hsl(236, 33%, 92%);
  --clr-dt-darkGrayishBlue: hsl(234, 11%, 52%);
  --clr-dt-veryDarkGrayishBlue: hsl(233, 14%, 35%);
  --clr-dt-veryDarkGrayishBlue-l2: hsl(237, 14%, 26%);

  /* Typo */
  --fs-100: 0.625rem; /* 10px */
  --fs-200: 0.75rem; /* 12px */
  --fs-300: 0.875rem; /* 14px */
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.125rem; /* 18px */
  --fs-600: 1.25rem; /* 20px */
  --fs-700: 1.5rem; /* 24px */
  --fs-750: 1.75rem; /* 28px */

  --fw-400: 400;
  --fw-700: 700;

  /* Typo Usage */
  --fs-body: var(--fs-500);

  --fw-regular: var(--fw-400);
  --fw-bold: var(--fw-700);
}

[data-theme="light"] {
  --background-body: var(--clr-lt-lightGray);
  --color-body: var(--clr-lt-darkGrayishBlue);
  --color-h1: var(--clr-lt-lightGray);
  --border-checkbox: var(--clr-lt-veryLightGrayishBlue);
  --bg-add-todo-field: var(--clr-lt-white);
  --bg-todo-li-item: var(--clr-lt-white);
  --bg-todo-li-border: var(--clr-lt-lightGrayishBlue);
  --color-input: var(--clr-lt-veryDarkGrayishBlue);
  --color-label: var(--clr-lt-veryDarkGrayishBlue);
  --color-label-completed: var(--clr-lt-lightGrayishBlue);
  --color-input-hover: var(--clr-dt-veryDarkBlue);
  --color-placeholder: var(--clr-lt-darkGrayishBlue);
  --bg-counter: var(--clr-lt-white);
  --bg-options: var(--clr-lt-white);
  --a-options: var(--clr-lt-veryDarkGrayishBlue);
  --bg-delete: var(--clr-lt-white);
  --a-delete: var(--clr-lt-veryDarkGrayishBlue);
  --a-active: var(--clr-brightBlue);
}

[data-theme="light"] body {
  background-image: url("../images/bg-mobile-light.jpg");
}

@media screen and (min-width: 1440px) {
  [data-theme="light"] body {
    background-image: url("../images/bg-desktop-light.jpg");
  }
}

[data-theme="dark"] {
  --background-body: var(--clr-dt-veryDarkBlue);
  --color-body: var(--clr-dt-darkGrayishBlue);
  --color-h1: var(--clr-dt-lightGrayishBlue);
  --border-checkbox: var(--clr-dt-veryDarkGrayishBlue);
  --bg-add-todo-field: var(--clr-dt-veryDarkDesaturatedBlue);
  --bg-todo-li-item: var(--clr-dt-veryDarkDesaturatedBlue);
  --bg-todo-li-border: var(--clr-dt-veryDarkGrayishBlue);
  --color-input: var(--clr-dt-lightGrayishBlue);
  --color-label: var(--clr-dt-lightGrayishBlue);
  --color-label-completed: var(--clr-dt-darkGrayishBlue);
  --color-input-hover: var(--clr-dt-veryDarkBlue);
  --color-placeholder: var(--clr-dt-darkGrayishBlue);
  --bg-counter: var(--clr-dt-veryDarkDesaturatedBlue);
  --bg-options: var(--clr-dt-veryDarkDesaturatedBlue);
  --a-options: var(--clr-dt-lightGrayishBlue-hover);
  --bg-delete: var(--clr-dt-veryDarkDesaturatedBlue);
  --a-delete: var(--clr-dt-lightGrayishBlue-hover);
  --a-active: var(--clr-brightBlue);
}

[data-theme="dark"] body {
  background-image: url("../images/bg-mobile-dark.jpg");
}

@media screen and (min-width: 1440px) {
  [data-theme="dark"] body {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
}

body {
  background-color: var(--background-body);
  color: var(--color-body);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  background-repeat: no-repeat;
  background-position-x: center;
  min-height: 100vh;
  min-height: 100dvh;
}

input[type="text"] {
  background-color: var(--bg-add-todo-field);
  color: var(--color-input);
  font-size: var(--fs-200);
  outline: none;
}

input[type="text"]::placeholder {
  color: var(--color-placeholder);
  font-size: var(--fs-200);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-image: var(--bg-add-todo-field);
  margin: 0;
  font: inherit;
  color: currentColor;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid var(--border-checkbox);
  border-radius: 25px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  background: linear-gradient(
      130deg,
      var(--clr-checkStart),
      var(--clr-checkEnd)
    )
    border-box;
  border: 1px solid transparent;
}

input[type="checkbox"]:checked::after {
  content: "";
  margin-left: 1px;
  width: 18px;
  height: 18px;
  background: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center, center;
}

input[type="checkbox"]:not(:disabled):hover:checked::after {
  background: none;
}

input[type="checkbox"]:disabled {
  cursor: default;
}

input[type="checkbox"]:disabled:checked {
}

input[type="checkbox"]:not(:disabled):hover {
  background: linear-gradient(var(--bg-todo-li-item), var(--bg-todo-li-item))
      padding-box,
    linear-gradient(130deg, var(--clr-checkStart), var(--clr-checkEnd))
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
}

input[type="checkbox"]:focus-visible {
  background: linear-gradient(var(--bg-todo-li-item), var(--bg-todo-li-item))
      padding-box,
    linear-gradient(130deg, var(--clr-checkStart), var(--clr-checkEnd))
      border-box;
  border-radius: 25px;
  border: 1px solid transparent;
}

label {
  cursor: pointer;
  color: var(--color-label);
  font-size: var(--fs-200);
}

.newtodo {
  background-color: var(--bg-add-todo-field);
}

.todo {
  background-color: var(--bg-todo-li-item);
  border-bottom: 1px solid var(--bg-todo-li-border);
}

.todo:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.btn-delete {
  width: 12px;
}

.todoTitle:hover input {
  color: var(--color-input);
}

@media screen and (min-width: 1440px) {
  .todo .btn-delete {
    visibility: hidden;
  }

  .todo:hover .btn-delete {
    visibility: visible;
  }
}

.counter {
  background-color: var(--bg-counter);
  grid-area: counter;
  font-size: var(--fs-200);
}

.options {
  background-color: var(--bg-options);
  font-size: var(--fs-300);
  grid-area: options;
}

.options a:hover,
.options a:focus-visible {
  color: var(--a-options);
}

.delete {
  background-color: var(--bg-delete);
  grid-area: delete;
  font-size: var(--fs-200);
}

.delete a:hover,
.delete a:focus-visible {
  color: var(--a-delete);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .visually-hidden {
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
